body {
    background-color: #f0f4f8;
    font-family: 'Segoe UI', sans-serif;
  }
  
  .custom-card {
    max-width: 600px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 16px;
    border: 1px solid #e0e0e0;
  }
  
  input.form-control {
    border-radius: 10px;
    padding: 10px;
  }
  
  .passlock-icon {
    position: absolute;
    top: 70%;
    right: 12px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #6c757d;
  }
  